# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log

# Android Captures
captures/

# NDK / CMake
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore

# Misc
.DS_Store